
  .box1{
    width: 33%;
    float: left;
    margin: 0px;
    padding: 0px;
  }
  .box2{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;

  }
  .box3{
    width: 50%;
    float: left;
  }
  .box4{
    width: 50%;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-weight: bold; 
    border: 2px solid black;
    border-width: 3px;width: 20px;
  }
  .box5{
    width: 66%;
    float: right;
    background-color: blueviolet;
  }
  .box6{
    margin-top: 0px;
    margin-bottom: 2px;
    padding:4px;
    text-align:center;
    height: 80px;
  }
  .box7{
    margin-top: 2px;
    margin-bottom: 5px;
    padding:3px;
    height: 379px;
    overflow: scroll;
    background-color: cadetblue;
  }
  .box7 ul li{
    color: white;
    font-size: 18px;;
  }
  .maincont{
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 100vh;
    
  
  }
  @media (max-width: 991px) {
    .box1{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
  }
  .box2{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;

  }
  .box5{
    width: 100%;
    background-color: blueviolet;
  }
  .box6{
    margin-top: 0px;
    margin-bottom: 2px;
    padding:4px;
    text-align:center;
    height: 80px;
  }
  .box7{
    margin-top: 2px;
    margin-bottom: 5px;
    padding:3px;
    height: 379px;
    overflow: scroll;
    background-color: #5f9ea0;
  }
  .box7 ul li{
    color: white;
    font-size: 18px;;
  }
  .maincont{
    
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 100vh;
    
  
  }
  }

  table, th, td {
  border: 1px solid black;
  
 
}

.td {
  border: 1px solid black;
  padding-right: 50px;
  padding-left: 50px;
}

.th{
  border: 1px solid black;
  padding-right: 50px;
  padding-left: 50px;
}


     

.box10{
   width: 95%;
   height: 200px;
   background-image: url('../images/theory.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
   border: 2px solid black;
   padding: 10px;
}
.btn{
  background-color: #ddd;
  font-size: 25px;
   text-align:center;
   padding: 10px 20px 10px 20px;
  width: 100%;
  font-weight: bold;
   font-family: Arial, Helvetica, sans-serif; 
   cursor: pointer;
   transition: 0.3s;
}
.btn:hover {
  background-color: #3e8e41;
  color: white;
  }